#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.hoverShadow {
  will-change: filter;
  transition: filter 300ms;
}

.hoverShadow:hover {
  filter: drop-shadow(0 0 2em red);
}

.hoverShadow-sm {
  will-change: filter;
  transition: filter 300ms;
}

.hoverShadow-sm:hover {
  filter: drop-shadow(0 0 0.5em red);
}

.card {
  padding: 2em;
}

